[submodule "modes/haskell-mode.git"]
	path = modes/haskell-mode.git
	url = https://github.com/haskell/haskell-mode.git
[submodule "modes/yaml-mode.git"]
	path = modes/yaml-mode.git
	url = git@github.com:yoshiki/yaml-mode.git
[submodule "modes/magit.git"]
	path = modes/magit.git
	url = git@github.com:magit/magit.git
[submodule "modes/popup.git"]
	path = modes/popup.git
	url = git@github.com:auto-complete/popup-el.git
[submodule "modes/auto-complete.git"]
	path = modes/auto-complete.git
	url = git@github.com:auto-complete/auto-complete.git
[submodule "modes/autopair.git"]
	path = modes/autopair.git
	url = git@github.com:capitaomorte/autopair.git
