[submodule "modes/haskell-mode.git"]
	path = modes/haskell-mode.git
	url = https://github.com/haskell/haskell-mode.git
[submodule "modes/yaml-mode.git"]
	path = modes/yaml-mode.git
	url = git@github.com:yoshiki/yaml-mode.git
[submodule "modes/magit.git"]
	path = modes/magit.git
	url = git@github.com:magit/magit.git
[submodule "modes/popup.git"]
	path = modes/popup.git
	url = git@github.com:auto-complete/popup-el.git
[submodule "modes/auto-complete.git"]
	path = modes/auto-complete.git
	url = git@github.com:auto-complete/auto-complete.git
[submodule "modes/autopair.git"]
	path = modes/autopair.git
	url = git@github.com:capitaomorte/autopair.git
[submodule "modes/yasnippet.git"]
	path = modes/yasnippet.git
	url = git@github.com:capitaomorte/yasnippet.git
[submodule "modes/flycheck.git"]
	path = modes/flycheck.git
	url = git@github.com:flycheck/flycheck.git
[submodule "modes/s.git"]
	path = modes/s.git
	url = git@github.com:magnars/s.el.git
[submodule "modes/dash.git"]
	path = modes/dash.git
	url = git@github.com:magnars/dash.el.git
[submodule "modes/f.git"]
	path = modes/f.git
	url = git@github.com:rejeep/f.el.git
[submodule "modes/deferred.git"]
	path = modes/deferred.git
	url = git@github.com:kiwanami/emacs-deferred.git
[submodule "modes/ctable.git"]
	path = modes/ctable.git
	url = git@github.com:kiwanami/emacs-ctable.git
[submodule "modes/epc.git"]
	path = modes/epc.git
	url = git@github.com:kiwanami/emacs-epc.git
[submodule "modes/jedi.git"]
	path = modes/jedi.git
	url = git@github.com:tkf/emacs-jedi.git
[submodule "modes/python-environment.git"]
	path = modes/python-environment.git
	url = git@github.com:tkf/emacs-python-environment.git
[submodule "modes/ipython-notebook.git"]
	path = modes/ipython-notebook.git
	url = git://github.com/tkf/emacs-ipython-notebook.git
